<!-- マイページは青基調の色に設定 -->
<div class="main-thema">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
				<section class="post">
					<h2>「タイトル未定」の使い方</h2>
					<p>このWebサイトは”セット麻雀で和気藹々と遊びたい”方向けの募集サイトです。</p>
					<p>気になる募集を見つけたら、ユーザー登録後に募集グループに加入して、楽しい麻雀をするメンバーを見つけよう！</p>

					<h2>ユーザー登録のメリット</h2>
					<ul>
						<li>メンバー募集を投稿できる</li>
						<li>募集グループに加入できる</li>
						<li>グループメンバー同士でコメントをする機能がある</li>
						<li>同卓したユーザーに対して評価・コメントをすることができる</li>
					</ul>

					<h2>ユーザー登録の手順</h2>
					
				</section>
			</div>
		</div>
	</div>
</div>