<!-- マイページは青基調の色に設定 -->
<div class="main-thema">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
				<section class="post">
					<h2>「タイトル未定」の使い方</h2>
					<hr>
					<p>このWebサイトは”セット麻雀で和気藹々と遊びたい”方向けの募集サイトです。</p>
					<p>気になる募集を見つけたら、ユーザー登録後に募集グループに加入して、楽しい麻雀をするメンバーを見つけよう！</p>

					<h2>ユーザー登録のメリット</h2>
					<hr>
					<ul>
						<li>メンバー募集を投稿できる</li>
						<li>募集グループに加入できる</li>
						<li>マイページで個人情報の編集ができる</li>
						<li>グループメンバー同士でコメントをする機能がある</li>
					</ul>

					<h3>メンバー募集を投稿できる</h3>
					<hr>
					<p>ログイン後に表示されるマイページにて、新規投稿メニューをクリックすると、募集が投稿できるよ！</p>

					<h3>募集グループに加入できる</h3>
					<hr>
					<p>トップページに表示されている募集一覧から、都道府県や地域で絞り込み検索をして入りたいグループを見つけたら、募集の右下にある「グループに加入する」ボタンを押そう！</p>
					<p>加入ボタンをクリックすると、募集を投稿したユーザーの登録メールへ通知が行くよ！</p>

					<h3>マイページで個人情報の編集ができる</h3>
					<hr>
					<p>ログイン後に表示されるマイページでは、個人情報の編集・募集の投稿、加入グループ一覧とグループチャットページが確認できるよ！</p>
					<p>グループ一覧ページには、そのグループに入っているメンバーを一覧で確認することもできるから、このグループに何人いるのかが一目でわかるよ！</p>

					<h3>グループメンバー同士でコメントをする機能がある</h3>
					<hr>
					<p>グループメンバーで集まって麻雀をした後には、同卓メンバーにコメントを送ろう！</p>
					<p>同卓した感想や、マナーや打ち筋等をコメントしてあげると、他のグループメンバーと遊ぶ時に参考になるよ！自分につくコメントを見て、麻雀の改善にもつながるよ！</p>
					<p><storng>でも、できるだけネガティブなことは書かないようにしようね。</storng></p>

				</section>
			</div>
		</div>
	</div>
</div>