<!-- グループ追加したときに、グループ作成者へ送信するメール -->
<h2><%= @user_post.post.user.user_name %> 様</h2>
<hr>
<p><%= @user_post.post.user.user_name %>様の作ったグループにメンバーが加入しました。</p>
<p>グループチャットにメッセージを送ってみましょう！</p>
<p>加入ユーザー名： <%= @user_post.user.user_name %>様</p>
<br><br><br><br>
＊このメールに返信は不要です。
<hr>