// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mypage-thema {
	width: 100%;
	background-color: #004E87;
	padding: 2em 0;
}

.main-visual {
	width: 80%;
	height: 400px;
	margin: 0 auto 2em;
	background-image: url(ma-jong1.jpg);
	background-size: cover;
	border-radius: 50px;
	position: relative;
}

.main-visual p {
	position: absolute;
	top: 2em;
	left: 2em;
	font-size: 20px;
}

.introduction {
	width: 80%;
	padding: 2em 2em 5em;
	background-color: #F5F5F5;
	margin: 0 auto 2em;
	border: 1px solid #000000;
	border-radius: 25px;
	position: relative;
}

.introduction h2 {
	margin-bottom: 1em;
}

.post {
	width: 100%;
	padding: 2em;
	margin-bottom: 1em;
	background-color: #F5F5F5;
	border: 1px solid #000000;
	border-radius: 25px;
	position: relative;
}

.post:last-child {
	margin-bottom: 0;
}

.table-space {
	width: 100%;
	border-collapse: separate;
	border-spacing: 10px;
}

td {
	width: 80%;
}

td:nth-child(odd) {
	width: 20%;
	text-align: right;
}

.fr {
	float: right;
}

.right {
	position: absolute;
	right: 2em;
	bottom: 2em;
}