// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mypage-thema {
	width: 100%;
	background-color: #FBFBF0;
	padding: 100px 0;
}

.main-visual {
	width: 80%;
	height: 400px;
	margin: 0 auto 2em;
	background-image: url(ma-jong1.jpg);
	background-size: cover;
	border-radius: 50px;
	position: relative;
}

.main-visual p {
	position: absolute;
	top: 2em;
	left: 2em;
	font-size: 20px;
}

.introduction {
	width: 80%;
	padding: 2em 2em 5em;
	margin: 0 auto 2em;
	border: 1px solid #000000;
	border-radius: 25px;
	position: relative;
}

.introduction h2 {
	margin-bottom: 1em;
}

.search {
	width: 80%;
	padding: 2em;
	margin: 0 auto 2em;
	border: 1px solid #000000;
	border-radius: 25px;
}

.search h2 {
	font-size: 25px;
	margin-bottom: 1em;
}

.post {
	width: 100%;
	padding: 2em;
	margin-bottom: 1em;
	border: 1px solid #000000;
	border-radius: 25px;
	position: relative;
}

.post:last-child {
	margin-bottom: 0;
}

.post hr:last-child {
	display: none;
}

.text-center {
	text-align: center;
}

.table-space {
	width: 100%;
	border-collapse: separate;	// テーブルセル間のborderを離す
	border-spacing: 10px;	// テーブルセル間のborderの余白
	table-layout: fixed;	// 英数字が改行されずにテーブルを突き抜ける対策
}

td {
	width: 80%;
	word-wrap: break-word;	// 英数字が改行されずにテーブルを突き抜ける対策
	overflow-wrap: break-word;	// 英数字が改行されずにテーブルを突き抜ける対策
}

td:nth-child(odd) {
	width: 20%;
	text-align: right;
}

.fr {
	float: right;
}

.right {
	position: absolute;
	right: 2em;
	bottom: 2em;
}

#back {
	position: fixed;
	bottom: 20px;
	right: 40px;
	transition: 1.5s;
}

#back:hover {
	transform: rotateZ(360deg);
}