// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.menu-bar {
	width: 100%;
	padding: 2em;
	margin-bottom: 1em;
	background-color: #F5F5F5;
	border: 1px solid #000000;
	border-radius: 25px;
	position: relative;
}

.menu-bar ul li {
	
}